{
    "ip": "",
    "username": "",
    "password": "",
    "is_testing": true,
    "development": {
        "MONGODB_URI": "mongodb://localhost:27017/RouterMonitorTest"
    },
    "production": {
        "MONGODB_URI": "mongodb://localhost:27017/RouterMonitor"
    }
}